
services:
  seaweedfs-master:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-master
    command: "master -ip=localhost -port=9333"
    network_mode: host
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:9333/cluster/status"]
      interval: 5s
      timeout: 5s
      retries: 10

  seaweedfs-volume:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-volume
    command: "volume -mserver=localhost:9333 -port=8080 -ip=localhost -max=100 -dir=/data"
    network_mode: host
    tmpfs:
      - /data:size=2G
    depends_on:
      seaweedfs-master:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:8080/status"]
      interval: 5s
      timeout: 5s
      retries: 10

  seaweedfs-filer:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-filer
    command: "filer -master=localhost:9333 -port=8888 -port.grpc=18888 -ip=localhost"
    network_mode: host
    depends_on:
      seaweedfs-volume:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:8888/"]
      interval: 5s
      timeout: 5s
      retries: 10
